# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push nginx
        id: docker_build_nginx
        uses: docker/build-push-action@v2
        with:
          context: ./nginx
          push: true
          tags: bartlomiejsawicki/mynginx:latest
      -
        name: Build and push haproxy
        id: docker_build_haproxy
        uses: docker/build-push-action@v2
        with:
          context: ./haproxy
          push: true
          tags: bartlomiejsawicki/myhaproxy:latest
      -
        name: Image digest nginx
        run: echo ${{ steps.docker_build_nginx.outputs.digest }}
      -
        name: Image digest haproxy
        run: echo ${{ steps.docker_build_haproxy.outputs.digest }}
